.total-cases{
  position: fixed;
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  font-size: 16px;
}
.total-cases p{
  margin: 0;
  padding: .5rem;
}
